thead tr th {
    font-weight: normal;
    text-align: left;
    font-variant: all-small-caps;
    font-family: 'Robot Mono', monospace;
    font-size: 1.3em;
}

tr {
    vertical-align: top;
}

td {
    padding-top: 10px;

    &:last-child {
        width: 100%;
    }
}

.param-name,
.param-type,
.return-type {
    min-width: 100px;

    code {
        display: inline-block;
        margin: 0 4px 4px 0;
    }
}

.param-type {
    padding-right: 10px;
    clear: both;
    display: inline-block;

    code:first-child {
        margin-top: -10px;
    }
}
